.wrapper {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    margin-top: 40px;
    border: 2px solid darkolivegreen;
    display: flex;
    flex-direction: column;
}

.titlebox {
    /* border: 2px solid cadetblue; */
    /* padding: 20px; */
    margin: 20px;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}

.titlebox .point {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: cadetblue;
    top: 90px;
    left: 20px;
}

.background-image {
    height: 150px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


@media screen and (min-width: 400px) {
    .wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .titlebox {
        flex-basis: 250px;
    }
}